section.statistic .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
section.statistic .content h1 {
    margin-bottom: 2rem;
}

section.statistic .content .statistic__filters {
    display: flex;
    align-content: center;
    gap: 10rem;
    margin-bottom: 5rem;
}

@media screen and  (max-width: 768px) { 
    section.statistic .content h1 {
        font-size: 4rem;
    }
}

@media screen and  (max-width: 600px) { 
    section.statistic .content h1  {
        font-size: 3rem;
    }
    section.statistic .content h2 {
        font-size: 1.5rem;
    }
}