button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    padding: 13px 20px 13px;
    border: 1px solid var(--color-green);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    content: "";
    background-color: var(--color-yellow);
    width: 100%;
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.5s;
}

button:hover:after {
    top: 0px;
    left: 0px;
}

@media (max-width: 768px) {
    button {
        padding: 13px 20px 13px;
    }
}