.label__container {
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding: 8px 20px;
    border: 1px solid var(--color-green);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 200%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.label__container:after {
    content: "";
    background-color: var(--color-yellow);
    width: 100%;
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.5s;
}

.label__container:hover:after  {
    background-position: 0 -100%;
    top: 0px;
    left: 0px;
}

.label__container input[type=file] {
    height: 55px;
    width: 150px;
    position: absolute;
    top: -5px;
    left: -4px;
    opacity: 0;
    cursor: pointer;
}
