header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

header .content .header__logo img {
    width: 5rem;
    height: 5rem;
}

header .content nav a {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

header .content .header__logo a {
    border-bottom: none;
}

header .content .header__logo a:hover {

    border-bottom: none;
}
header .content nav.header__nav {
    display: flex;
    gap: 2rem;
}

header .content .dropdown {
    display: none;
}

header .content .dropdown .burger__icon {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    header .content nav.header__nav {
        display: none;
    }
    header .content .dropdown {
        display: block;
    }
    header .content .dropdown .dropdown__menu {
        width: 10rem;
        left: -150%;
    }
}

@media screen and (max-width: 600px) {
    header .content .dropdown .dropdown__menu {
        left: -200%;
    }
}