@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --color-body: #173F5F;
    --color-orange: #ff8b38;
    --color-white: #ffffff;
    --color-black: #111111;
    --color-dark-light: #333333;
    --color-gray: #f5f5f5;
    
    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --h-font: 'Raleway', sans-serif;

    /*.5rem = 8px | 1rem = 16px ...*/
    --h1-font-size: 5.3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 0.875rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 700;

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;


    /*========== Container ==========*/
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --container-width-sm-d: 92%;

    /*========== border radius ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --border-radius-1: 1.2rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 0.5rem;

    /*========== transition ==========*/
    --transition: all 0.5s ease-in-out;
    --transition-slow: all 1.5s ease-in-out;

    /*========== transform ==========*/
    --transform: translate(-0.3rem, -0.3rem);
}

* {
    outline: 0;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--color-body);
    color: var(--color-black);
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--h-font);
    font-weight: var(--font-normal);
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--color-white);
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--color-white);
    margin-bottom: 2rem;
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--color-black);
}

h4 {
    font-size: var(--h4-font-size);
    color: var(--color-white);
    text-transform: uppercase;
}

a {
    font-size: 24px;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #535bf2;
    border-bottom: 2px solid #535bf2;
}

/*=============== GENERAL CONTAINER CLASS ===============*/
.container {
    width: var(--container-width-lg);
    margin-inline: auto;
    max-width: 1400px;
}

/*=============== GENERAL SECTION STYLES ===============*/
section {
    padding: 10rem 0;
    transition: var(--transition);
    z-index: var(--z-tooltip);
    overflow-x: hidden;
}

section > p {
    text-align: center;
    margin: 2rem auto 4rem;
    width: 42%;
    color: var(--color-white);
    font-weight: var(--font-normal);
}

/*=============== MEDIA QUERY ===============*/
@media screen and (max-width: 1200px) {
    .container {
        width: var(--container-width-md);
    }
    
    }
    @media screen and  (max-width: 768px) { 
        .container {
            width: var(--container-width-sm);
        }
    }
    @media screen and  (max-width: 600px) { 
        .container {
            width: var(--container-width-sm-d);
        }
        section {
            margin-top: 0;
        }
}